@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@*@model Sitecore.Speak.Components.Models.ComponentRenderingModel*@
@model SitecoreMods.Feature.FormFieldsMapper.Models.FormFieldsMapperRenderingModel
@{
    Model.Class.Append("sc-FormFieldsMapper");
    var htmlAttributes = Model.HtmlAttributes;
}


<div @htmlAttributes>
    <div data-bind="text: console.log(' My Log:', $data)"></div>
    <div data-bind="text: console.log(' root Log:', $root)"></div>
    <section class="form-fields-mapper-container">
        <div class="form-fields-mapper-header">
            <h4>Map Fields</h4>
        </div>
        <div class="form-fields-mapper-body">
            <table id="form-fields-mapper" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Destination
                        </th>
                        <th>
                            Source
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        @*<div class="form-fields-mapper-footer">
            <button>Add Custom Mappings</button>
        </div>*@
    </section>
    <div class="debug-info">

    </div>
</div>