<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Authorization" extends="Helix.Base" description="SitecoreMods Authorization Foundation">
          <predicate>
            <include name="Settings" database="master" path="/sitecore/system/Settings/SitecoreMods/Authorization" />
            <include name="Templates" database="master" path="/sitecore/templates/Foundation/SitecoreMods/Authorization" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>