<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.FormFieldsMapper" extends="Foundation.Serialization.Base" description="Form Fields Mapper" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <predicate>
            <include name="FormBuilderRenderings" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Renderings/SitecoreMods/FormFieldsMapper" />
            <include name="SubmitToAPI" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions/SubmitToAPI" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>