<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.FormFieldsMapper" extends="Helix.Base" description="Form Fields Mapper" dependencies="Foundation.*">
          <predicate>
            <include name="FormBuilderRenderings" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Renderings/SitecoreMods/FormFieldsMapper" />
            <include name="Templates" database="master" path="/sitecore/templates/Feature/SitecoreMods/FormFieldsMapper" />
            <include name="SubmitToApiCore" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions/SubmitToApi" />
            <include name="SubmitToApi" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/SubmitToApi" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
