<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone or ContentManagement">
    <!--
        This allows us to change the Unicorn root by using a ITEM_SYNC_LOCATION environment variable.
        For local development, we can mount our source root to the provided location.
        For CI/deployment, the Unicorn files should be copied into the default location in the CM Dockerfile (c:\items).
        NOTE: These are paths inside the CM container, not your development environment.
      -->
    <sc.variable name="sourceFolder" value="E:\Workspace\Sitecore-Mods\src" />

    <unicorn>
      <!--
            Conditionally enable transparent sync via the UNICORN_ENABLE_TRANSPARENT_SYNC environment variable.
          -->
      <!--<defaults>
        <dataProviderConfiguration set:enableTransparentSync="$(env:UNICORN_ENABLE_TRANSPARENT_SYNC)" />
      </defaults>-->

      <!--
            Set the Unicorn authentication secret via UNICORN_SHARED_SECRET environment variable.
          -->
      <authenticationProvider type="Unicorn.ControlPanel.Security.ChapAuthenticationProvider, Unicorn">
        <SharedSecret>68529e75-21c0-4c68-a754-22826a59aa6d</SharedSecret>
      </authenticationProvider>
    </unicorn>

    <pipelines>
      <owin.cookieAuthentication.validateIdentity>
        <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication">
          <siteNeutralPaths hint="list">
            <path hint="unicorn">/unicorn.aspx</path>
          </siteNeutralPaths>
        </processor>
      </owin.cookieAuthentication.validateIdentity>
      <publish>
        <!--
            Move the Unicorn publish queue after AddBucketFoldersToQueue to avoid issues with bucket publishing.
          -->
        <processor type="Unicorn.Publishing.ManualPublishQueueHandler, Unicorn">
          <patch:delete />
        </processor>
        <processor patch:after="*[@type='Sitecore.Buckets.Pipelines.Publish.AddBucketFoldersToQueue, Sitecore.Buckets']" type="Unicorn.Publishing.ManualPublishQueueHandler, Unicorn"/>
      </publish>
    </pipelines>
  </sitecore>
</configuration>